@page
@model hoteluri.Pages.Rezervari.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rezervare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Rezervare.RezervareId" />
            <div class="form-group">
                <label asp-for="Rezervare.ClientId" class="control-label"></label>
                <input asp-for="Rezervare.ClientId" class="form-control" />
                <span asp-validation-for="Rezervare.ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.HotelId" class="control-label"></label>
                <input asp-for="Rezervare.HotelId" class="form-control" />
                <span asp-validation-for="Rezervare.HotelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.CameraId" class="control-label"></label>
                <input asp-for="Rezervare.CameraId" class="form-control" />
                <span asp-validation-for="Rezervare.CameraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.DataCheckIn" class="control-label"></label>
                <input asp-for="Rezervare.DataCheckIn" class="form-control" />
                <span asp-validation-for="Rezervare.DataCheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rezervare.DataCheckOut" class="control-label"></label>
                <input asp-for="Rezervare.DataCheckOut" class="form-control" />
                <span asp-validation-for="Rezervare.DataCheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
